 .nav-conteiner{ 
    background-color: #2196F3;
    height: 64px;
    width: 100%;      
    clear: both;  
    
     ul li{
        float: left; 
        display: inline;         
        padding: 22px 10px 22px 10px;        
    }
    ul li:hover{
        background: #1E88E5;        
    }
    li a {
        text-decoration: none;
        color: white;
    }   
}

.icon-soundcloud{
    font-size: 44px;
    color: white;
    float:left;
    margin: 7px 10px 10px;
}    
#site-name{
   font-size: 20px;
   color: white;  
   float: left;
   margin: 19px 30px 19px 10px;              
}
.icon-caret-down{
    display: none;
}
.client-indif{
    float: right;
    margin-right: 10px;
    margin-top: 22px;
}

@media (max-width: 768px){
    #site-name{
        display: none;
    }
    .nav-conteiner ul{
        float: right;
        margin-right: 30px;       
    }
    .icon-caret-down{
        display: block;
        float: right;
        margin: 19px 20px 19px 10px;
        font-size: 20px;
        color: white;
    }
    .client-indif{
        display: none;
    }
    .nav-conteiner-mob{        
        height: 128px;
        clear: both;
    }    
    .client-indif-mob{
        display: block;
        float: right;        
        color:white;
        padding-top: 80px;
    }
}