.song-container{
    width: 220px;
    height: 140px;
    border-color: #D8D8D8;
    background: yellow;
    padding: 10px 10px 45px 10px
}
.song-clip{
    background: pink;
    width: 200px; 
    height: 85px;
}