
.genres{
    width: 100%;
    height: 40px;    
    background: #DDE4E6;
    display: flex;
        ul{

        }   
        li{
            display: inline-block;
            margin-top:10px;   
            margin: 10px 54px 10px 0px;     
        }        
         li a {            
            color: #000000;  
            font-size: 15px;                     
        }
        .active{
            border-bottom: 1px solid rgb(178, 178, 179)
        }
    } 
.genres li:first-child{
        font-weight: 500;
        margin-left: 10px;
        margin-right: 29px;
    }
.genres li:last-child{
        margin-right: 0px; 
}
.fa-bars{
    display: none;    
}
@media (max-width: 768px){
    .genres li {
        display: none;
    }    
    .fa-bars{       
        color: black;
        font-size: 24px;
        display: block;
        
        margin: 7px;
    }
}